@import "variables.scss";

body  {
	font-family: 'SegoeWPLight', Arial, Helvetica, sans-serif; 
}
.container {
	width: 100%;
}
.logo {
	position: relative;
	background: url(../images/logo.png) no-repeat;
	width: 175px;
	height: 28px;
	a {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		text-indent: -9999px;
	}
}
.navbar {
	position: absolute;
	background: transparent;
	border: none;
	margin-bottom: 0;
	left: 0;
	right: 0;
	top: -46px;
	.navbar-collapse {
		border: none;
		box-shadow: none;
		margin-top: 6px;
		text-align: center;
		background: rgba(240,240,240,0.8);
		padding: 0;
		overflow: hidden;
		&.in {
			overflow: hidden;
		}
		.navbar-nav {
			float: none;
			font-size: 24px;
			line-height: 28px;
			li {
				margin-bottom: 10px;	
				a {
					color: $darkGray;
					padding: 6px 12px;
					display: inline-block;
					&:hover {
						color: $blue1;
					}
				}
			}
			.active a {
				border: 1px solid $blue2;
				color: $white;
				cursor: default;
				-webkit-border-radius: 4px;
				-o-border-radius: 4px;
				-ms-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				background: #74cbfa;
				background: -moz-linear-gradient(top, #74cbfa 0%, #1f85e7 100%); 
				background: -webkit-linear-gradient(top, #74cbfa 0%,#1f85e7 100%); 
				background: linear-gradient(to bottom, #74cbfa 0%,#1f85e7 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74cbfa', endColorstr='#1f85e7',GradientType=0 );
				&:hover {
					color: $white;
				}
			} 
		}
	} 
}
.btn {
	font: {
		family: 'SegoeWPN', Arial, Helvetica, sans-serif;
		size: 28px;
		weight: bold; 
	}
	position: relative;
	line-height: 32px;
	color: $white;
	background: rgba(0, 0, 0, 0.12);
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 14px 5px;
	span {
		background: #6feb55;
		padding: 6px 60px;
		background: -moz-linear-gradient(top, #6feb55 0%, #35ae22 100%);
		background: -webkit-linear-gradient(top, #6feb55 0%,#35ae22 100%); 
		background: linear-gradient(to bottom, #6feb55 0%,#35ae22 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6feb55', endColorstr='#35ae22',GradientType=0 );
		-webkit-border-radius: 4px;
		-o-border-radius: 4px;
		-ms-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}
.media-block {
	position: relative;
	padding: 18px 26px 8px;
	background: $white;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 7px solid $green;
	text-align: center;
	max-width: 482px;
    margin: -86px auto 58px;
	h3 {
		margin-top: 0;
		margin-bottom: 26px;
		font-size: 22px;
		line-height: 26px;
		color:  $gray2;
	}
	.media-item {
		color: $gray1;
		position: relative;
		margin-bottom: 0;
		li{
			display: inline-block;
			margin-right: 2px;
			margin-bottom: 12px;
			a {
				color: $gray1;
				&:hover {
					color: $blue1;
					text-decoration: none;
				}
				.img-holder {
					display: inline-block;
					position: relative;
					width: 79px;
					height: 42px;
					margin-bottom: 6px;	
				}
				span {
					display: block;
				}
			}
		}
	}

}
//start header//
.header {
	z-index: 1000;
	position: relative;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);

}
//end header//
//start main//
.main {
	.banner {
		height: 534px;
    	overflow: hidden;
    	position: relative;
    	.wrapp-info {
    		position: absolute;
		    top: 50%;
		    color: #fff;
		    max-width: 910px;
		    text-align: center;
		    left: 50%;
		    -webkit-transform: translate3d(-50%,-50%,0);
		    -ms-transform: translate3d(-50%,-50%,0);
		    -moz-transform: translate3d(-50%,-50%,0);
		    -o-transform: translate3d(-50%,-50%,0);
		    transform: translate3d(-50%,-50%,0);
    		color: $white;
    		h2 {
    			font: {
    				size: 40px;
    				weight: 600;
    			}
    			line-height: 44px;
    			margin: 0;
    			
    		}
    		h2, p {
    			text-transform: uppercase;
    		}
    		p {
				font-size: 32px;
    			line-height: 36px;
    			display: block;
    			margin-bottom: 36px;
    		}
    	}
	}
	.additions {
		background: $gray4;
		padding: 0 0 62px;
		.heading {
			color: $gray3;
			text-align: center; 
			h4 {
				font: {
					size: 26px;
					weight: 200; 
				}
				line-height: 30px;
			}
			p {
				font: {
					size: 22px;
					weight: 200; 
				}
				line-height: 26px;
				margin-bottom: 50px;
			}
		}
		.additions-list {
			position: relative;
			li {
				position: relative;
				text-align: center;
				margin-bottom: 20px;
				a {
					display: inline-block;
					font-size: 20px;
					line-height: 24px;
					color: $gray3;
					&:hover {
						color: $blue1;
						text-decoration: none;
					}
					.wrapp-ico {
						background: $white;
						margin-bottom: 16px;
						width: 133px;
						height: 133px;
						-webkit-border-radius: 50%;
						-o-border-radius: 50%;
						-ms-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						position: relative;
						&:after {
							position: absolute;
							content: '';
							top: 50%;
							left: 50%;
							transform: translate3d(-50%, -50%, 0);
						}
					}
					.sites:after {
						background: url(../images/ico-1.png) no-repeat;
						width: 98px;
						height: 98px;
					}
					.shopping:after {
						background: url(../images/ico-2.png) no-repeat;
						width: 77px;
						height: 71px;
					}
					.photography:after {
						background: url(../images/ico-3.png) no-repeat;
						width: 76px;
						height: 50px;
					}
					.search:after {
						background: url(../images/ico-4.png) no-repeat;
						width: 67px;
						height: 67px;
					}
				}
			}
		}
	}
}
//end main//
//start footer//
.footer,
.main {
	position: relative;
	z-index: 1;
}
.footer {
	background: $superDarkGray;
	text-align: center;
	padding: 6px 0;
	overflow: hidden;
	p {
		position: relative;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 0;
		&, a {
			color: rgba(255, 255, 255, .50);
		}
	}
} 
//end footer//