@import "variables.scss";

body  {
	font-family: 'SegoeWPLight', Arial, Helvetica, sans-serif;
}
.heading-center {
	position: relative;
	text-align: center;
}
h2 {
	color: $white;
}
.additions-list .dropdown-menu.def,
.dropdown-menu.def {
	padding: 5px 10px;
	left: 50%;
	transform: translate3d(-50%, -50%,0);
	color: $blue1;
	font-size: 16px;
	&:focus,
	&:active {
		color: $blue1 !important;
	} 
}
.additions-list .dropdown-menu.def {
	top: 50%;
}
.dropdown-menu.def {
	top:-100%;
}
.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width:auto;
	max-width: 1000px;
	max-height: 1000px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 20px auto;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  	h5 {
  		font: {
  			size: 30px;
  			weight: 600; 
  		}
  		line-height: 34px;
	}
	img {
		margin-bottom: 20px;
		display: inline-block;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		text-align: justify;
	}
}
.mfp-close-btn-in .mfp-close {
	color: $gray1;
	&:hover {
		color: $gray1;
	}
}
.mfp-container {
	padding: 0 20px;
}
.container {
	width: 100%;
}
.logo {
	position: relative;
	background: $bgImg no-repeat -190px -5px;
	width: 175px;
	height: 28px;
	a {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		text-indent: -9999px;
	}
}
.navbar {
	position: absolute;
	background: transparent;
	border: none;
	margin-bottom: 0;
	left: 0;
	right: 0;
	top: -46px;
	.navbar-collapse {
		border: none;
		box-shadow: none;
		margin-top: 6px;
		text-align: center;
		background: rgba(240,240,240,0.8);
		padding: 0;
		overflow: hidden;
		&.in {
			overflow: hidden;
		}
		.navbar-nav {
			float: none;
			font-size: 24px;
			line-height: 28px;
			li {
				margin-bottom: 10px;	
				a {
					color: $darkGray;
					padding: 6px 12px;
					display: inline-block;
					&:hover {
						color: $blue1;
					}
				}
			}
			.active a {
				border: 1px solid $blue2;
				color: $white;
				cursor: default;
				-webkit-border-radius: 4px;
				-o-border-radius: 4px;
				-ms-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				background: #74cbfa;
				background: -moz-linear-gradient(top, #74cbfa 0%, #1f85e7 100%); 
				background: -webkit-linear-gradient(top, #74cbfa 0%,#1f85e7 100%); 
				background: linear-gradient(to bottom, #74cbfa 0%,#1f85e7 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74cbfa', endColorstr='#1f85e7',GradientType=0 );
				&:hover {
					color: $white;
				}
			} 
		}
	} 
}
.about-us {
	font-size: 18px;
	line-height: 25px;
	.holder {
		position: relative;
		margin-bottom: 15px;
		h3, p {
			margin: 0;
		}
		h3 {
			color: $gray1;
		}
	}
}
.about-us,
.our-team {
	padding: 40px 0 10px;
}

.about-us,
.our-team,
.additions,
.contact-us {
	position: relative;
	.heading-center {
		color: $gray3;
	}
}
.additions-list {
	a {
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
		color: $gray3;
		&:hover {
			color: $blue1;
			text-decoration: none;
		}
		.wrapp-ico {
			background: $white;
			margin-bottom: 16px;
			width: 133px;
			height: 133px;
			position: relative;
			-webkit-border-radius: 50%;
			-o-border-radius: 50%;
			-ms-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			&:after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				-webkit-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
				background-repeat: no-repeat;
				background-image: $bgImg;
			}
		}
		.sites:after {
			background-position: -5px -5px;
			width: 98px;
			height: 98px;
		}
		.shopping:after {
			background-position: -5px -113px;
			width: 77px;
			height: 71px;
		}
		.photography:after {
			 background-position: -92px -113px;
			width: 76px;
			height: 50px;
		}
		.search:after {
			background-position: -113px -5px;
			width: 67px;
			height: 67px;
		}
	}
}
.additions-list,
.team-block {
	position: relative;
	overflow: hidden;
	li {
		position: relative;
		text-align: center;
		margin-bottom: 20px;
	}
}
.team-block {
	.img-holder {
		position: relative;
		width: 135px;
		height: 135px;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
	}
}

.grid {
	position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
	figure {
		z-index: auto;
    	overflow: visible;
    	position: relative;
	    overflow: hidden;
	    margin: 0 auto;
	    height: auto;
	    width: 100%;
	    text-align: center;
	    cursor: pointer;
	    float: left;
	   	&:hover {
	   		-webkit-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.55);
			-moz-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.55);
			box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.55);
	   	}
	   	&:hover h4 {
	   		-webkit-transform: translate3d(0, 0, 0);
	   		-ms-transform: translate3d(0, 0, 0);
	   		transform: translate3d(0, 0, 0);
	   	}
	    &:hover img {
	    	webkit-transform: perspective(1000px) translate3d(0,0,80px);
    		transform: perspective(1000px) translate3d(0,0,80px);
	    }
    	h4 {
			margin: 0;
			color: $blue1;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			background: $white;
			text-align: right;
			padding: 20px 10px;
			transition: all 0.7s;
			-webkit-transform: translate3d(+100%, 0, 0);
			-ms-transform: translate3d(+100%, 0, 0);
			transform: translate3d(+100%, 0, 0);
	    	font: {
				size: 26px;
	    	}
	    	span {
	    		font: {
					family:'SegoeWPN', Arial, Helvetica, sans-serif;
					weight: 600;
		    	}
	    	}
		}
		img {
			position: relative;
		    display: block;
		    min-height: 100%;
		    max-width: 100%;
		    width: 100%;
		    height: auto;
		    opacity: 1;
		    -webkit-transition: -webkit-transform 0.35s;
		    transition: transform 0.35s;
		    -webkit-transform: perspective(1000px) translate3d(0,0,0);
		    transform: perspective(1000px) translate3d(0,0,0);
		}
		figcaption {
			z-index: 1;
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 1.25em;
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		}
		figcaption,
		figcaption > a {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
}

.about-us,
.our-team,
.contact-us { 
	h2 {
		margin-bottom: 20px;
		margin-top: 0;
		line-height: 36px;
		font: {
			weight: 600;
			size: 32px;
		}
	}
}
.about-us,
.contact-us {
	h3 {
		font: {
			size: 22px;
			family: 'SegoeWPN', Arial, Helvetica, sans-serif;
			weight: 600;
		}
		line-height: 36px;
	}
}
.programs,
.contact-us {
	padding: 40px 0; 
}
.programs {
	.heading-center h3 {
		color: $white;
		line-height: 32px;
		margin-top: 0;
		margin-bottom: 50px;
		font: {
			size: 28px;
			weight: 600;	
		}
	}
}
.contact-us {
	overflow: hidden;
    h3 {
    	margin-top: 0;
    	margin-bottom: 20px;
    	color: $blue3;
    	text-transform: uppercase;
    }
	address {
		position: relative;
		color: $darkGray;
		span {
			padding-left: 20px;
			position: relative;
			font-size: 16px;
    		line-height: 20px;
 	 	 	margin-bottom: 10px;
    		display: inline-block;
			&:after {
				position: absolute;
				content: '';
				left: 0;
				background-repeat: no-repeat;
				background-image: $bgImg;
			}
		}
		.location:after {
			width: 9px;
			height: 13px;
			top: calc(50% - 6px);
			background-position: -189px -59px;

		}
		.email:after {
			top: calc(50% - 4px);
			background-position: -201px -62px;
			width: 12px;
			height: 8px;
		}
		.phone:after {
			top: calc(50% - 6px);
			background-position: -215px -59px;
			width: 10px;
			height: 11px;
		}
	}
}
.social-media {
	position: relative;
	li {
		display: inline-block;
		background: $white;
		position: relative;
		width: 25px;
		height: 25px;
		-webkit-border-radius: 50%;
	    -o-border-radius: 50%;
	    -ms-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    margin-left: 5px;
	    &:first-child {
	    	margin-left: 0;
	    }
	    a {
	    	width: 100%;
	    	height: 100%;
	    	display: block;
	    	color: $gray1;
	    	&:hover {
	    		color: $superDarkGray;
	    	}
	    	.fa {
		    	position: absolute;
		    	top: 50%;
		    	left: 50%;
		    	-webkit-transform: translate3d(-50%,-50%,0);
			    -ms-transform: translate3d(-50%,-50%,0);
			    -moz-transform: translate3d(-50%,-50%,0);
			    -o-transform: translate3d(-50%,-50%,0);
			    transform: translate3d(-50%,-50%,0);
		    }
	    }
	}
}
#map {
	height: 460px;
	-webkit-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.55);
	box-shadow: 0px 6px 30px 4px rgba(0,0,0,0.55);
}
.send-message {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 85px;
	max-width: 300px;
	input, 
	textarea {
		display: inline-block;
		padding: 8px;
		width: 100%;
		margin-bottom: 10px;
		-webkit-border-radius: 5px;
	    -o-border-radius: 5px;
	    -ms-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    border: 1px solid $gray1; 
	}
	textarea {
		resize: none;
		min-height: 150px;
		&:focus {
			outline: none;
		}
	}
}
.btn-send {
	background: $blue3;
	color: $white;
	border: 1px  solid $gray1;
	padding: 5px 25px;
	cursor: pointer;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font: {
		family:'SegoeWP', Arial, Helvetica, sans-serif;
		size: 18px;
		weight: 600; 
	}
	&:hover {
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
		color: $superDarkGray;
	}
}
.main-banner {
	position: relative;
	overflow: hidden;
	max-height: 400px;
	img {
		width: 100%;
		height: auto;
	}
}
.btn {
	font: {
		family: 'SegoeWPN', Arial, Helvetica, sans-serif;
		size: 28px;
		weight: bold; 
	}
	position: relative;
	line-height: 32px;
	color: $white;
	background: rgba(0, 0, 0, 0.12);
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 14px 5px;
	&:hover,
	&:focus {
		color: $blue1;
	}
	span {
		background: #6feb55;
		padding: 6px 60px;
		background: -moz-linear-gradient(top, #6feb55 0%, #35ae22 100%);
		background: -webkit-linear-gradient(top, #6feb55 0%,#35ae22 100%); 
		background: linear-gradient(to bottom, #6feb55 0%,#35ae22 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6feb55', endColorstr='#35ae22',GradientType=0 );
		-webkit-border-radius: 4px;
		-o-border-radius: 4px;
		-ms-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}
.media-block {
	position: relative;
	padding: 18px 26px 8px;
	background: $white;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 7px solid $green;
	text-align: center;
	max-width: 482px;
    margin: -86px auto 58px;
    -webkit-box-shadow: 0px -1px 10px 1px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px -1px 10px 1px rgba(0,0,0,0.28);
	box-shadow: 0px -1px 10px 1px rgba(0,0,0,0.28);
	z-index: 1;
	h3 {
		margin-top: 0;
		margin-bottom: 26px;
		font-size: 22px;
		line-height: 26px;
		color:  $gray2;
	}
	.media-item {
		color: $gray1;
		position: relative;
		margin-bottom: 0;
		li{
			display: inline-block;
			margin-right: 2px;
			margin-bottom: 12px;
			.open-popup-link {
				color: $gray1;
				&:hover {
					color: $blue1;
				}
				&:focus,
				&:hover {
					text-decoration: none;
				}
				&:focus {
					outline: none;
				}
				.img-holder {
					display: inline-block;
					position: relative;
					width: 79px;
					height: 42px;
					margin-bottom: 6px;	
				}
				span {
					display: block;
				}
			}
		}
	}

}
#slider, 
#main-slider,
#slide-show {
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	.slick-track {
		display: block;
		left: 0;
		position: relative;
		top: 0;
		height: 100%;
	}
	.slick-list {
		display: block;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		height: 100%;
	}
}
.footer,
.main {
	position: relative;
	z-index: 1;
}
.information {
	position: relative;
	padding: 60px 0px;
	color: $superDarkGray;
	font-size: 18px;
	line-height: 22px;
	article {
		margin-bottom: 50px;
		h3 {
			font: {
				size: 32px;
				weight: 600;
			}
			line-height: 36px;
			color: $darkGray;
			margin-top: 0;
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 20px;
		}
		.site-link {
			color: $blue3;
			display: inline-block;
			margin-bottom: 10px;
			line-height: 22px;
			font: {
				size: 18px;
				weight: 600;
				family:'SegoeWP', Arial, Helvetica, sans-serif;
			} 
		}
		.img-holder {
			position: relative;
		    max-height: 570px;
		    overflow: hidden;
		    img {
		    	width: 100%;
		    	height: auto;
		    }
		}
	}
}
//start header//
.header {
	z-index: 1000;
	position: relative;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.22);

}

//end header//
//start main//
.main {
	background: $gray4;
	.banner {
		height: 534px;
    	overflow: hidden;
    	position: relative;
    	.wrapp-info {
    		position: absolute;
		    top: 50%;
		    color: #fff;
		    max-width: 910px;
		    text-align: center;
		    left: 50%;
		    -webkit-transform: translate3d(-50%,-50%,0);
		    -ms-transform: translate3d(-50%,-50%,0);
		    -moz-transform: translate3d(-50%,-50%,0);
		    -o-transform: translate3d(-50%,-50%,0);
		    transform: translate3d(-50%,-50%,0);
    		color: $white;
    		z-index: 1;
    		h2 {
    			font: {
    				size: 40px;
    				weight: 600;
    			}
    			line-height: 44px;
    			margin: 0;
    			
    		}
    		h2, p {
    			text-transform: uppercase;
    		}
    		p {
				font-size: 32px;
    			line-height: 36px;
    			display: block;
    			margin-bottom: 36px;
    		}
    	}
	}
	.banner-slide-show {
		.left,
    	.right {
    		position: absolute;
    		opacity: 0;
    		top: 50%;
    		-webkit-transform: translate3d(0, -50%, 0);
		    -ms-transform: translate3d(0, -50%, 0);
		    -moz-transform: translate3d(0, -50%, 0);
		    -o-transform: translate3d(0, -50%, 0);
		    transform: translate3d(0, -50%, 0);
    		z-index: 3;
    		background: rgba(240, 240, 240, 0.8);
    		border: none;
    		-webkit-border-radius: 50%;
		    -o-border-radius: 50%;
		    -ms-border-radius: 50%;
		    -moz-border-radius: 50%;
		    border-radius: 50%;
		    width: 40px;
		    height: 40px;
		    &:focus {
		    	outline: none;
		    }
		    .fa {
		    	color:  $superDarkGray;
		    	font-size: 12px;
		    	position: absolute;
		    	top: 50%;
		    	left: 50%;
				-webkit-transform: translate3d(-50%, -50%, 0);
		    	-ms-transform: translate3d(-50%, -50%, 0);
		    	-moz-transform: translate3d(-50%, -50%, 0);
		    	-o-transform: translate3d(-50%, -50%, 0);
		    	&:hover {
		    		color: $gray2;
		    	}
		    }
    	}
    	.left {
    		left: 2%;
    	}
    	.right {
    		right: 2%;
    	}
	}
	.info-box {
		padding: 40px 0;
		h2 {
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 40px;
			font: {
				size: 36px;
				weight: 600; 
			}
		}
		p {
			font-size: 18px;
			line-height: 26px;
			color: $gray3;
		}
	}
	.additions {
		padding: 0 0 62px;
		h4 {
			font: {
				size: 26px;
				weight: 200; 
			}
			line-height: 30px;
		}
		p {
			font: {
				size: 22px;
				weight: 200; 
			}
			line-height: 26px;
			margin-bottom: 50px;
		}
	}
	.heading-main-banner {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3d(-50%,-50%,0);
	    -ms-transform: translate3d(-50%,-50%,0);
	    -moz-transform: translate3d(-50%,-50%,0);
	    -o-transform: translate3d(-50%,-50%,0);
	    transform: translate3d(-50%,-50%,0);
	    width: 100%;
		h2 {
			font-size: 36px;
			line-height: 40px;
		}
	}
}
//end main//
//start footer//

.footer {
	background: $superDarkGray;
	text-align: center;
	padding: 6px 0;
	overflow: hidden;
	p {
		position: relative;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 0;
		&, a {
			color: rgba(255, 255, 255, .50);
		}
	}
} 
//end footer//