$darkGray: #676767;
$bgImg: url('../../images/bg-sprite.png');
$superDarkGray: #414141;
$gray1: #929292;
$gray2: #868686;
$gray3: #7e7c7c;
$gray4: #ececec;
$white: #fff;
$blue1: #2188e8;
$blue2: #1784d1;
$green: #51c03d;