body {
  font-family: 'SegoeWPLight', Arial, Helvetica, sans-serif; }

.heading-center {
  position: relative;
  text-align: center; }

h2 {
  color: #fff; }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 1000px;
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px auto;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75); }
  .white-popup h5 {
    font-size: 30px;
    font-weight: 600;
    line-height: 34px; }
  .white-popup img {
    margin-bottom: 20px;
    display: inline-block; }
  .white-popup p {
    font-size: 20px;
    line-height: 26px;
    text-align: justify; }

.mfp-close-btn-in .mfp-close {
  color: #929292; }
  .mfp-close-btn-in .mfp-close:hover {
    color: #929292; }

.mfp-container {
  padding: 0 20px; }

.container {
  width: 100%; }

.logo {
  position: relative;
  background: url("../../images/bg-sprite.png") no-repeat -190px -5px;
  width: 175px;
  height: 28px; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px; }

.navbar {
  position: absolute;
  background: transparent;
  border: none;
  margin-bottom: 0;
  left: 0;
  right: 0;
  top: -46px; }
  .navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    margin-top: 6px;
    text-align: center;
    background: rgba(240, 240, 240, 0.8);
    padding: 0;
    overflow: hidden; }
    .navbar .navbar-collapse.in {
      overflow: hidden; }
    .navbar .navbar-collapse .navbar-nav {
      float: none;
      font-size: 24px;
      line-height: 28px; }
      .navbar .navbar-collapse .navbar-nav li {
        margin-bottom: 10px; }
        .navbar .navbar-collapse .navbar-nav li a {
          color: #676767;
          padding: 6px 12px;
          display: inline-block; }
          .navbar .navbar-collapse .navbar-nav li a:hover {
            color: #2188e8; }
      .navbar .navbar-collapse .navbar-nav .active a {
        border: 1px solid #1784d1;
        color: #fff;
        cursor: default;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #74cbfa;
        background: -moz-linear-gradient(top, #74cbfa 0%, #1f85e7 100%);
        background: -webkit-linear-gradient(top, #74cbfa 0%, #1f85e7 100%);
        background: linear-gradient(to bottom, #74cbfa 0%, #1f85e7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74cbfa', endColorstr='#1f85e7',GradientType=0 ); }
        .navbar .navbar-collapse .navbar-nav .active a:hover {
          color: #fff; }

.about-us {
  font-size: 18px;
  line-height: 25px; }
  .about-us .holder {
    position: relative;
    margin-bottom: 15px; }
    .about-us .holder h3, .about-us .holder p {
      margin: 0; }
    .about-us .holder h3 {
      color: #929292; }

.about-us,
.our-team {
  padding: 40px 0 10px; }

.about-us,
.our-team,
.additions,
.contact-us {
  position: relative; }
  .about-us .heading-center,
  .our-team .heading-center,
  .additions .heading-center,
  .contact-us .heading-center {
    color: #7e7c7c; }

.additions-list a {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: #7e7c7c; }
  .additions-list a:hover {
    color: #2188e8;
    text-decoration: none; }
  .additions-list a .wrapp-ico {
    background: #fff;
    margin-bottom: 16px;
    width: 133px;
    height: 133px;
    position: relative;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .additions-list a .wrapp-ico:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      background-repeat: no-repeat;
      background-image: url("../../images/bg-sprite.png"); }
  .additions-list a .sites:after {
    background-position: -5px -5px;
    width: 98px;
    height: 98px; }
  .additions-list a .shopping:after {
    background-position: -5px -113px;
    width: 77px;
    height: 71px; }
  .additions-list a .photography:after {
    background-position: -92px -113px;
    width: 76px;
    height: 50px; }
  .additions-list a .search:after {
    background-position: -113px -5px;
    width: 67px;
    height: 67px; }

.additions-list,
.team-block {
  position: relative;
  overflow: hidden; }
  .additions-list li,
  .team-block li {
    position: relative;
    text-align: center;
    margin-bottom: 20px; }

.team-block .img-holder {
  position: relative;
  width: 135px;
  height: 135px;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }

.grid {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px; }
  .grid figure {
    z-index: auto;
    overflow: visible;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
    float: left; }
    .grid figure:hover {
      -webkit-box-shadow: 0px 6px 30px 4px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 0px 6px 30px 4px rgba(0, 0, 0, 0.55);
      box-shadow: 0px 6px 30px 4px rgba(0, 0, 0, 0.55); }
    .grid figure:hover h4 {
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .grid figure:hover img {
      webkit-transform: perspective(1000px) translate3d(0, 0, 80px);
      transform: perspective(1000px) translate3d(0, 0, 80px); }
    .grid figure h4 {
      margin: 0;
      color: #2188e8;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      text-align: right;
      padding: 20px 10px;
      transition: all 0.7s;
      -webkit-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      font-size: 26px; }
      .grid figure h4 span {
        font-family: 'SegoeWPN', Arial, Helvetica, sans-serif;
        font-weight: 600; }
    .grid figure img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      width: 100%;
      height: auto;
      opacity: 1;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
      transform: perspective(1000px) translate3d(0, 0, 0); }
    .grid figure figcaption {
      z-index: 1;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .grid figure figcaption,
    .grid figure figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.about-us h2,
.our-team h2,
.contact-us h2 {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 36px;
  font-weight: 600;
  font-size: 32px; }

.about-us h3,
.contact-us h3 {
  font-size: 22px;
  font-family: 'SegoeWPN', Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 36px; }

.programs,
.contact-us {
  padding: 40px 0; }

.programs .heading-center h3 {
  color: #fff;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 600; }

.contact-us {
  overflow: hidden; }
  .contact-us h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #1298dd;
    text-transform: uppercase; }
  .contact-us address {
    position: relative;
    color: #676767; }
    .contact-us address span {
      padding-left: 20px;
      position: relative;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
      display: inline-block; }
      .contact-us address span:after {
        position: absolute;
        content: '';
        left: 0;
        background-repeat: no-repeat;
        background-image: url("../../images/bg-sprite.png"); }
    .contact-us address .location:after {
      width: 9px;
      height: 13px;
      top: calc(50% - 6px);
      background-position: -189px -59px; }
    .contact-us address .email:after {
      top: calc(50% - 4px);
      background-position: -201px -62px;
      width: 12px;
      height: 8px; }
    .contact-us address .phone:after {
      top: calc(50% - 6px);
      background-position: -215px -59px;
      width: 10px;
      height: 11px; }

.social-media {
  position: relative; }
  .social-media li {
    display: inline-block;
    background: #fff;
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 5px; }
    .social-media li:first-child {
      margin-left: 0; }
    .social-media li a {
      width: 100%;
      height: 100%;
      display: block;
      color: #929292; }
      .social-media li a:hover {
        color: #414141; }
      .social-media li a .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0); }

#map {
  height: 460px;
  -webkit-box-shadow: 0px 6px 30px 4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 6px 30px 4px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 6px 30px 4px rgba(0, 0, 0, 0.55); }

.send-message {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 85px;
  max-width: 300px; }
  .send-message input,
  .send-message textarea {
    display: inline-block;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #929292; }
  .send-message textarea {
    resize: none;
    min-height: 150px; }
    .send-message textarea:focus {
      outline: none; }

.btn-send {
  background: #1298dd;
  color: #fff;
  border: 1px solid #929292;
  padding: 5px 25px;
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'SegoeWP', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600; }
  .btn-send:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    color: #414141; }

.main-banner {
  position: relative;
  overflow: hidden;
  max-height: 400px; }
  .main-banner img {
    width: 100%;
    height: auto; }

.btn {
  font-family: 'SegoeWPN', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  line-height: 32px;
  color: #fff;
  background: rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 14px 5px; }
  .btn:hover {
    color: #2188e8; }
  .btn span {
    background: #6feb55;
    padding: 6px 60px;
    background: -moz-linear-gradient(top, #6feb55 0%, #35ae22 100%);
    background: -webkit-linear-gradient(top, #6feb55 0%, #35ae22 100%);
    background: linear-gradient(to bottom, #6feb55 0%, #35ae22 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6feb55', endColorstr='#35ae22',GradientType=0 );
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

.media-block {
  position: relative;
  padding: 18px 26px 8px;
  background: #fff;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 7px solid #51c03d;
  text-align: center;
  max-width: 482px;
  margin: -86px auto 58px;
  -webkit-box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.28);
  z-index: 1; }
  .media-block h3 {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 22px;
    line-height: 26px;
    color: #868686; }
  .media-block .media-item {
    color: #929292;
    position: relative;
    margin-bottom: 0; }
    .media-block .media-item li {
      display: inline-block;
      margin-right: 2px;
      margin-bottom: 12px; }
      .media-block .media-item li .open-popup-link {
        color: #929292; }
        .media-block .media-item li .open-popup-link:hover {
          color: #2188e8; }
        .media-block .media-item li .open-popup-link:focus, .media-block .media-item li .open-popup-link:hover {
          text-decoration: none; }
        .media-block .media-item li .open-popup-link:focus {
          outline: none; }
        .media-block .media-item li .open-popup-link .img-holder {
          display: inline-block;
          position: relative;
          width: 79px;
          height: 42px;
          margin-bottom: 6px; }
        .media-block .media-item li .open-popup-link span {
          display: block; }

#slider,
#main-slider,
#slide-show {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  #slider .slick-track,
  #main-slider .slick-track,
  #slide-show .slick-track {
    display: block;
    left: 0;
    position: relative;
    top: 0;
    height: 100%; }
  #slider .slick-list,
  #main-slider .slick-list,
  #slide-show .slick-list {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    height: 100%; }

.footer,
.main {
  position: relative;
  z-index: 1; }

.information {
  position: relative;
  padding: 60px 0px;
  color: #414141;
  font-size: 18px;
  line-height: 22px; }
  .information article {
    margin-bottom: 50px; }
    .information article h3 {
      font-size: 32px;
      font-weight: 600;
      line-height: 36px;
      color: #676767;
      margin-top: 0;
      margin-bottom: 30px; }
    .information article p {
      margin-bottom: 20px; }
    .information article .site-link {
      color: #1298dd;
      display: inline-block;
      margin-bottom: 10px;
      line-height: 22px;
      font-size: 18px;
      font-weight: 600;
      font-family: 'SegoeWP', Arial, Helvetica, sans-serif; }
    .information article .img-holder {
      position: relative;
      max-height: 570px;
      overflow: hidden; }
      .information article .img-holder img {
        width: 100%;
        height: auto; }

.header {
  z-index: 1000;
  position: relative;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.22); }

.main {
  background: #d5d4d4; }
  .main .banner {
    height: 534px;
    overflow: hidden;
    position: relative; }
    .main .banner .wrapp-info {
      position: absolute;
      top: 50%;
      color: #fff;
      max-width: 910px;
      text-align: center;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      -o-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      color: #fff;
      z-index: 1; }
      .main .banner .wrapp-info h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        margin: 0; }
      .main .banner .wrapp-info h2, .main .banner .wrapp-info p {
        text-transform: uppercase; }
      .main .banner .wrapp-info p {
        font-size: 32px;
        line-height: 36px;
        display: block;
        margin-bottom: 36px; }
  .main .banner-slide-show .left,
  .main .banner-slide-show .right {
    position: absolute;
    opacity: 0;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 3;
    background: rgba(240, 240, 240, 0.8);
    border: none;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px; }
    .main .banner-slide-show .left:focus,
    .main .banner-slide-show .right:focus {
      outline: none; }
    .main .banner-slide-show .left .fa,
    .main .banner-slide-show .right .fa {
      color: #414141;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      -o-transform: translate3d(-50%, -50%, 0); }
      .main .banner-slide-show .left .fa:hover,
      .main .banner-slide-show .right .fa:hover {
        color: #868686; }
  .main .banner-slide-show .left {
    left: 2%; }
  .main .banner-slide-show .right {
    right: 2%; }
  .main .info-box {
    padding: 40px 0; }
    .main .info-box h2 {
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 40px;
      font-size: 36px;
      font-weight: 600; }
    .main .info-box p {
      font-size: 18px;
      line-height: 26px;
      color: #7e7c7c; }
  .main .additions {
    padding: 0 0 62px; }
    .main .additions h4 {
      font-size: 26px;
      font-weight: 200;
      line-height: 30px; }
    .main .additions p {
      font-size: 22px;
      font-weight: 200;
      line-height: 26px;
      margin-bottom: 50px; }
  .main .heading-main-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 100%; }
    .main .heading-main-banner h2 {
      font-size: 36px;
      line-height: 40px; }

.footer {
  background: #414141;
  text-align: center;
  padding: 6px 0;
  overflow: hidden; }
  .footer p {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0; }
    .footer p, .footer p a {
      color: rgba(255, 255, 255, 0.5); }
